/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.title::before{
    content: ' ';
    background-size: 2em;
    height: 2em;
    width: 2em;
    background-image: url("../IMG/template.jpg");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: .25em;
    box-shadow: .1em .1em .2em rgba(255,255,255, .75);
}