/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.title:before{
    content:' ';
    background-image: url("../IMG/template.jpg");
    background-size: 2em;
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25em;
    box-shadow: 0.1em 0.1em .2em rgba(255, 255, 255, 0.75);
}

#error{
    border: 3px double black;
    background-color: rgba(100%, 75%, 50%, .25);
    margin: 1em;
    padding: .5em;
}

#error dt{
    border: 1px dotted black;
    border-radius: .5em;
    margin: .5em;
    padding: .25em;
}

fieldset{
    border: 1px solid black;
    border-radius: .5em;
    padding: .5em;
}

legend{
    margin-left: .5em;
    border: 1px solid black;
    border-radius: .25em;
    padding: .15em;
    box-shadow: .25em .25em rgba(0, 0, 0, .25);
}

input{
    color: darkorange;
    font-weight: bold;
}

